/*
  non_focus: bce0e2
  focus: edfeff
  font: 203647
*/
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  color: #1e1e1e;
  font-size: 14px;
}

body,
input {
  font-family: 'Balsamiq Sans', cursive;
}

main {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.files {
  background-color: #fff;
  padding-top: 62px;
  padding-bottom: 80px;
  padding-left: 65px;
  padding-right: 164px;
  overflow: scroll;
}

.files__input {
  width: 50%;
  height: 100%;
}

.files__menu {
  position: fixed;
  left: 25%;
  bottom: 47px;
  transform: translateX(-50%);
  display: flex;
}

.files__menu > * {
  margin: 0 5px;
}

.result {
  background-color: #f8f8f8;
  padding: 62px;
  padding-left: 164px;
  padding-right: 65px;
  overflow: scroll;
}

.result .files-list {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  justify-content: end;
}

.result__ouput {
  width: 50%;
  height: 100%;
}

.search {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  font-size: 1.5rem;
  text-align: center;
}

.search__input {
  height: 47px;
  width: 197px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 47px;
}

.button {
  background-color: #b4d7f3;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  padding: 8px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #e0edff;
}

.files-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 13px;
  column-gap: 13px;
}

.files-list__el {
  border-radius: 5px;
  width: 93px;
  height: 93px;
  background: url('./icons/file.svg') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.files-list__el:hover {
  background-image: url('./icons/file-hovered.svg');
}

.files-list__el--selected {
  background-image: url('./icons/file-selected.svg');
}

.files-list__el--selected:hover {
  background-image: url('./icons/file-selected-hovered.svg');
}

.files_list__el-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 5px 10px;
  cursor: default;
}

.hide-outside {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.6rem dashed #e0edff;
  color: #bfbfbf;
  text-align: center;
  cursor: pointer;
}

.empty:hover {
  border-color: #b4d7f3;
}

.empty__icon {
  display: none;
}

.empty > .empty__icon {
  display: block;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  border: 0.3em dashed #e0edff;
  transform: translateX(25%);
}

.empty__icon::before {
  content: '';
  position: absolute;
  bottom: -50%;
  right: -50%;
  width: 100%;
  height: 100%;
  border: 0.3rem solid #b4d7f3;
  background: #e0edff;
}

.empty__icon::after {
  content: '';
  position: absolute;
  bottom: -25%;
  right: -25%;
  width: 50%;
  height: 50%;
  background: url('./icons/hand-pointer.svg') no-repeat center;
  background-size: cover;
  transform: rotateZ(-45deg);
  filter: invert(84%) sepia(21%) saturate(592%) hue-rotate(179deg) brightness(97%) contrast(96%);
}

@media screen and (max-width: 1067px) {
  .empty__message {
    transform: none;
  }

  main {
    flex-direction: column-reverse;
  }

  .files__input {
    width: 100%;
  }

  .result__ouput {
    width: 100%;
  }

  .result {
    padding: 62px;
  }

  .result .files-list {
    display: grid;
    justify-content: center;
  }

  .files {
    padding: 62px;
  }

  .search__input {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .files__menu {
    left: 50%;
  }

  .files-list {
    grid-template-columns: repeat(auto-fit, 67px);
    justify-content: center;
    row-gap: 6px;
    column-gap: 6px;
  }

  .files-list__el {
    width: 67px;
    height: 67px;
  }
}
