.apexcharts-tooltip {
  background-color: $color-secondary-dark !important;
  color: $color-tertiary;
}

.apexcharts-yaxistooltip {
  background-color: $color-secondary-dark !important;
  color: $color-tertiary !important;
}

.apexcharts-xaxistooltip {
  background-color: $color-secondary-dark !important;
  color: $color-tertiary !important;
}

.apexcharts-title-text {
}
