.button {
  background: transparent;
  color: #fff;
  font-size: 1rem;
  padding: 8px 8px;
  border: 1px solid #fff;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  line-height: 8px;
}
.button:hover {
  border-color: #2cfe10;
  color: #2cfe10;
}
.button:disabled {
  border-color: #a9a9a9;
  color: #a9a9a9;
  cursor: default;
}
