.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: transparent;
  position: relative;
  border-radius: 5px;
  border: 1px solid #fff;
  cursor: pointer;
  overflow: hidden;
}

.card:hover {
  border-color: #2cfe10;
}

.card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 1.2rem;
}

.card__content {
  word-wrap: break-word;
  color: #aaa;
  padding: 5px 0;
}

.card__time {
  font-size: 0.7rem;
  color: #999;
}

.card:empty {
  height: 80px;
  background: linear-gradient(90deg, transparent 25%, #2cfe10 30%, #2cfe10 40%, transparent 45%);
  background-size: 400% 100%;
  animation: gradient_animation 3s linear infinite;
  cursor: default;
}

.card:empty:hover {
  border-color: #fff;
}

@keyframes gradient_animation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
