@import './variables';

$colors: (
  p: $color-primary,
  pl: $color-primary-light,
  pd: $color-primary-dark,
  s: $color-secondary,
  sl: $color-secondary-light,
  sd: $color-secondary-dark,
  t: $color-tertiary,
  tl: $color-tertiary-light,
  td: $color-tertiary-dark,
  q: $color-quartary,
  ql: $color-quartary-light,
  qd: $color-quartary-dark,
);

@mixin color-modifiers($attribute: 'color', $prefix: 'c-') {
  @each $name, $hsl in $colors {
    @if & {
      &.#{$prefix}#{$name} {
        #{$attribute}: $hsl;
      }
    } @else {
      .#{$prefix}#{$name} {
        #{$attribute}: $hsl;
      }
    }
  }
}

@include color-modifiers('color', 'c-');
@include color-modifiers('background-color', 'bg-');
