.list {
  position: absolute;
  top: 0;
  overflow: hidden;
  filter: opacity(1);
  width: 100%;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.list__el {
  width: 100%;
}

.list > .list__el:not(:first-child) {
  margin-top: 10px;
}

.list:empty {
  position: absolute;
  top: 100%;
  filter: opacity(0);
}
