.menu {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  row-gap: 15px;
  padding-bottom: 15px;
  transition: top 0.5s ease-in-out;
}

.menu--center {
  left: 50%;
  top: 39% !important;
  transform: translateX(-50%);
}

.menu__add-file {
  display: flex;
}

.menu__upload-progress {
  display: flex;
  align-items: center;
}
