.search {
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 1.5rem;
  text-align: left;
  background-color: transparent;
}

.search__input {
  color: #fff;
  height: 47px;
  width: 100%;
}

.search__input:focus {
  border-color: #2cfe10;
  outline-style: none;
}

.search__input:enabled::-webkit-search-cancel-button {
  display: none;
}
