.search {
  position: relative;
  top: 0;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 1.5rem;
  text-align: left;
  background-color: transparent;
  transition: top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.search__input {
  color: #fff;
  height: 47px;
  width: 100%;
}
.search__input:focus {
  border-color: #2cfe10;
}
