// Font
// -- Size
$font-size-base: 16px;
$font-size-m: 1em;
$font-size-s: 0.85em;
$font-size-xs: 0.7em;
$font-size-l: 1.15em;
$font-size-xl: 1.3em;

// -- Family
$font-family: 'Balsamiq Sans', cursive;
// Color
// -- Primary
$color-primary: hsl(113, 99%, 53%);
$color-primary-light: hsl(113, 100%, 68%);
$color-primary-dark: hsl(113, 88%, 27%);
// -- Secondary
$color-secondary: hsl(0, 7%, 19%);
$color-secondary-light: hsl(0, 8%, 31%);
$color-secondary-dark: hsl(0, 8%, 3%);
// -- Tetrary
$color-tetrary: hsl(0, 7%, 78%);
$color-tetrary-light: hsl(0, 100%, 98%);
$color-tetrary-dark: hsl(0, 2%, 49%);
// Border
// -- Radius
$border-radius: 5px;
$border-radius-input: 3px;
// -- Width
$border-width: 1px;
