@import './fonts';
@import './colors';
@import './overrides/multiselect';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  overflow: hidden;
}

body {
  background: $color-secondary-dark;
  color: $color-tetrary;

  font-size: $font-size-base;
  font-family: $font-family;

  overflow: auto;

  height: 100%;
}
