@import './fonts';
@import './colors';
@import './overrides/multiselect';

* {
  box-sizing: border-box;
}

body {
  font-size: $font-size-base;
  color: $color-tetrary;
  font-family: $font-family;

  height: 100vh;
  overflow: hidden;
}
